<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body class="font-body text-2xl">
    
    <%- include("./partials/nav.ejs") %>

    <div class="px-3 pb-6">
        <h2 class="text-4xl pt-3 pb-3 font-bold"><%= blog.title %></h2>
        <div class="content">
          <p><%= blog.body %></p>
        </div>
        <a class="delete flex mt-12 max-w-sm absolute rounded-full justify-center bg-black px-8 py-2 text-xl text-white cursor-pointer" data-doc="<%= blog._id %>">delete</a>
       
      </div>

    <%- include("./partials/footer.ejs") %>

    <script>
        const trashcan = document.querySelector("a.delete")

        trashcan.addEventListener("click", (e) => {
            const endpoint = `/blogs/${ trashcan.dataset.doc }`;

            fetch(endpoint, {
                method: "DELETE"
            })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err));
        })
    </script>

</body>

</html>